[Unit]
After=traefik.container

[Container]
ContainerName=whoami
Image=docker.io/traefik/whoami:latest
Network=whoami.network
Network=dmz.network
Label=traefik.enable=true
Label=traefik.docker.network=systemd-dmz
Label=traefik.http.services.whoami.loadbalancer.server.port=80
Label=traefik.http.routers.whoami.rule="Path(`/whoami`)"
Label=traefik.http.middlewares.strip-whoami.stripprefix.prefixes="/whoami"
Label=traefik.http.routers.whoami.middlewares=strip-whoami@docker
