[Container]
ContainerName=adguard
Image=docker.io/adguard/adguardhome:latest
Pod=adguard.pod
Volume=adguard-work.volume:/opt/adguardhome/work:Z
Volume=adguard-conf.volume:/opt/adguardhome/conf:Z
PodName=adguard
# Admin interface
PublishPort=5300:3000/tcp
# DNS
PublishPort=53:53/udp
PublishPort=53:53/tcp
# # DNS-over-HTTP
# PublishPort=5380:80/tcp
# # DNS-over-HTTPS
# # DNS-over-HTTPS
# PublishPort=53443:443/tcp
# PublishPort=53443:443/udp
