[Unit]
Description= Ad-Guard Home
[Container]
ContainerName=adguard
Image=docker.io/adguard/adguardhome:latest
Volume=adguard-work.volume:/opt/adguardhome/work:Z
Volume=adguard-conf.volume:/opt/adguardhome/conf:Z
Volume=/home/core/.config/containers/systemd/adguard-conf.yaml:/tmp/AdGuardHome.yaml:rw,Z
Entrypoint=/bin/sh
Exec=-c \
  "cp /tmp/AdGuardHome.yaml /opt/adguardhome/conf/AdGuardHome.yaml && \
  /opt/adguardhome/AdGuardHome \
  --no-check-update \
	-c /opt/adguardhome/conf/AdGuardHome.yaml \
	-w /opt/adguardhome/work" \

# Admin interface
PublishPort=5300:3000/tcp
# DNS
PublishPort=53:53/udp
PublishPort=53:53/tcp

[Install]
WantedBy=default.target

[Service]
Restart=unless-stopped
