*

!.gitignore
!README.md
!.devcontainer/
!.devcontainer/devcontainer.json
!mise.toml

# Podman Systemd Quadlets
!workloads/
!workloads/*.cue
!workloads/*.md

# CUE
!schemas/
!schemas/*.cue
!backends/
!backends/*.cue
!cue.mod/
!cue.mod/*.cue
!*_tool.cue

# Terraform
!terraform/
!terraform/*.tf

# Claude setup
!CLAUDE.md