*

!.gitignore
!README.md
!.devcontainer/
!.devcontainer/devcontainer.json
!mise.toml

# Podman Systemd Quadlets
!workloads/
!workloads/*/
!workloads/*/*.kube
!workloads/*/*.yaml
!workloads/*/*.container
!workloads/*/*.volume
!workloads/*/*.network

# Terraform
!terraform/
!terraform/*.tf
