[Unit]
Description=Traefik
After=local-fs.target
Requires=podman.socket
After=podman.socket

[Install]
WantedBy=default.target

[Container]
ContainerName=traefik
Image=docker.io/library/traefik:3
Network=dmz.network
PodmanArgs=--memory=128m
PodmanArgs=--memory-reservation=96m
PodmanArgs=--cpus=0.2
PublishPort=80:80/tcp
PublishPort=443:443/tcp
Volume=/run/user/1000/podman/podman.sock:/var/run/docker.sock:z
Volume=traefik-acme.volume:/acme:Z
Exec=--accesslog=true \
  --log.level=info \
  --api.dashboard=true \
  --api.insecure=true \
  --entrypoints.http.address=":80" \
  --entrypoints.http.http.redirections.entryPoint.to=https \
  --entrypoints.http.http.redirections.entryPoint.scheme=https \
  --entrypoints.https.address=":443" \
  --providers.docker=true \
  --providers.docker.exposedbydefault=false \
  --certificatesresolvers.letsencrypt.acme.email=bertrand.cache@gmail.com \
  --certificatesresolvers.letsencrypt.acme.storage=/acme/acme.json \
  --certificatesresolvers.letsencrypt.acme.httpchallenge.entrypoint=http
Sysctl=net.ipv4.ip_unprivileged_port_start=0
SecurityLabelType=container_runtime_t
